
@{
    ViewBag.Title = "Theloai";
    Layout = "~/Areas/User_Website/Views/Shared/_LayoutUser.cshtml";
}

<div class="video-container mt-4">
    <img src="../images/summerbanner.jpg" alt="">
</div>

<div class="tab-content mt-5 ">
    <h5 class="title" style="font-weight: 600;">Mùa Hè</h5>
    <div class="all-danhmuc">
        <p class="hover-container">
            Tất cả <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512">
                <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
            </svg>
        </p>
    </div>
    <div class="chill-container">
        <div class="card chill-card ">
            <img src="../images/CHILL1.jpg" class="card-img" alt="...">
            <div class="album-name">
                <h2 class="card-text mt-2">Tên bài hát</h2>
                <p class="card-text mt-0 ">Tên sa sĩ</p>
            </div>
        </div>

        <div class="card chill-card ">
            <img src="../images/CHILL2.jpg" class="card-img" alt="...">
            <div class="album-name">
                <h2 class="card-text mt-2">Tên bài hát</h2>
                <p class="card-text mt-0 ">Tên sa sĩ</p>
            </div>
        </div>

        <div class="card chill-card ">
            <img src="../images/CHILL3.jpg" class="card-img" alt="...">
            <div class="album-name">
                <h2 class="card-text mt-2">Tên bài hát</h2>
                <p class="card-text mt-0 ">Tên sa sĩ</p>
            </div>
        </div>

        <div class="card chill-card ">
            <img src="../images/CHILL4.jpg" class="card-img" alt="...">
            <div class="album-name">
                <h2 class="card-text mt-2">Tên bài hát</h2>
                <p class="card-text mt-0 ">Tên sa sĩ</p>
            </div>
        </div>
    </div>
</div>

<div class="video-container mt-4">
    <img src="../images/chillbanner.jpg" alt="">
</div>

<div class="tab-content mt-5 ">
    <h5 class="title" style="font-weight: 600;">CHILL</h5>
    <div class="all-danhmuc">
        <p class="hover-container">
            Tất cả <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512">
                <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
            </svg>
        </p>
    </div>
    <div class="chill-container">
        <div class="card chill-card ">
            <img src="../images/CHILL1.jpg" class="card-img" alt="...">
            <div class="album-name">
                <h2 class="card-text mt-2">Tên bài hát</h2>
                <p class="card-text mt-0 ">Tên sa sĩ</p>
            </div>
        </div>

        <div class="card chill-card ">
            <img src="../images/CHILL2.jpg" class="card-img" alt="...">
            <div class="album-name">
                <h2 class="card-text mt-2">Tên bài hát</h2>
                <p class="card-text mt-0 ">Tên sa sĩ</p>
            </div>
        </div>

        <div class="card chill-card ">
            <img src="../images/CHILL3.jpg" class="card-img" alt="...">
            <div class="album-name">
                <h2 class="card-text mt-2">Tên bài hát</h2>
                <p class="card-text mt-0 ">Tên sa sĩ</p>
            </div>
        </div>

        <div class="card chill-card ">
            <img src="../images/CHILL4.jpg" class="card-img" alt="...">
            <div class="album-name">
                <h2 class="card-text mt-2">Tên bài hát</h2>
                <p class="card-text mt-0 ">Tên sa sĩ</p>
            </div>
        </div>
    </div>
</div>

<div class="video-container mt-4">
    <img src="../images/edmbanner.jpg" alt="">
</div>

<div class="tab-content mt-5 ">
    <h5 class="title" style="font-weight: 600;">EDM</h5>
    <div class="all-danhmuc">
        <p class="hover-container">
            Tất cả <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512">
                <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
            </svg>
        </p>
    </div>
    <div class="chill-container">
        <div class="card chill-card ">
            <img src="../images/CHILL1.jpg" class="card-img" alt="...">
            <div class="album-name">
                <h2 class="card-text mt-2">Tên bài hát</h2>
                <p class="card-text mt-0 ">Tên sa sĩ</p>
            </div>
        </div>

        <div class="card chill-card ">
            <img src="../images/CHILL2.jpg" class="card-img" alt="...">
            <div class="album-name">
                <h2 class="card-text mt-2">Tên bài hát</h2>
                <p class="card-text mt-0 ">Tên sa sĩ</p>
            </div>
        </div>

        <div class="card chill-card ">
            <img src="../images/CHILL3.jpg" class="card-img" alt="...">
            <div class="album-name">
                <h2 class="card-text mt-2">Tên bài hát</h2>
                <p class="card-text mt-0 ">Tên sa sĩ</p>
            </div>
        </div>

        <div class="card chill-card ">
            <img src="../images/CHILL4.jpg" class="card-img" alt="...">
            <div class="album-name">
                <h2 class="card-text mt-2">Tên bài hát</h2>
                <p class="card-text mt-0 ">Tên sa sĩ</p>
            </div>
        </div>
    </div>
</div>

<div class="video-container mt-4">
    <img src="../images/kidbanner.jpg" alt="">
</div>

<div class="tab-content mt-5 ">
    <h5 class="title" style="font-weight: 600;">NHẠC THIẾU NHI</h5>
    <div class="all-danhmuc">
        <p class="hover-container">
            Tất cả <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512">
                <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
            </svg>
        </p>
    </div>
    <div class="chill-container">
        <div class="card chill-card ">
            <img src="../images/CHILL1.jpg" class="card-img" alt="...">
            <div class="album-name">
                <h2 class="card-text mt-2">Tên bài hát</h2>
                <p class="card-text mt-0 ">Tên sa sĩ</p>
            </div>
        </div>

        <div class="card chill-card ">
            <img src="../images/CHILL2.jpg" class="card-img" alt="...">
            <div class="album-name">
                <h2 class="card-text mt-2">Tên bài hát</h2>
                <p class="card-text mt-0 ">Tên sa sĩ</p>
            </div>
        </div>

        <div class="card chill-card ">
            <img src="../images/CHILL3.jpg" class="card-img" alt="...">
            <div class="album-name">
                <h2 class="card-text mt-2">Tên bài hát</h2>
                <p class="card-text mt-0 ">Tên sa sĩ</p>
            </div>
        </div>

        <div class="card chill-card ">
            <img src="../images/CHILL4.jpg" class="card-img" alt="...">
            <div class="album-name">
                <h2 class="card-text mt-2">Tên bài hát</h2>
                <p class="card-text mt-0 ">Tên sa sĩ</p>
            </div>
        </div>
    </div>
</div>

<div class="video-container mt-4">
    <img src="../images/bolerobanner.jpg" alt="">
</div>

<div class="tab-content mt-5 ">
    <h5 class="title" style="font-weight: 600;">NHẠC TRỮ TÌNH</h5>
    <div class="all-danhmuc">
        <p class="hover-container">
            Tất cả <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512">
                <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
            </svg>
        </p>
    </div>
    <div class="chill-container">
        <div class="card chill-card ">
            <img src="../images/CHILL1.jpg" class="card-img" alt="...">
            <div class="album-name">
                <h2 class="card-text mt-2">Tên bài hát</h2>
                <p class="card-text mt-0 ">Tên sa sĩ</p>
            </div>
        </div>

        <div class="card chill-card ">
            <img src="../images/CHILL2.jpg" class="card-img" alt="...">
            <div class="album-name">
                <h2 class="card-text mt-2">Tên bài hát</h2>
                <p class="card-text mt-0 ">Tên sa sĩ</p>
            </div>
        </div>

        <div class="card chill-card ">
            <img src="../images/CHILL3.jpg" class="card-img" alt="...">
            <div class="album-name">
                <h2 class="card-text mt-2">Tên bài hát</h2>
                <p class="card-text mt-0 ">Tên sa sĩ</p>
            </div>
        </div>

        <div class="card chill-card ">
            <img src="../images/CHILL4.jpg" class="card-img" alt="...">
            <div class="album-name">
                <h2 class="card-text mt-2">Tên bài hát</h2>
                <p class="card-text mt-0 ">Tên sa sĩ</p>
            </div>
        </div>
    </div>
</div>

